html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.heroName {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.nameContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.name {
    width: 90%;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .8s;
}

.role {
    width: 50%;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -120%);
    transition: all 1.1s;
}

.connectButton {
    background: #171717;
    color: white;
    border-style: none;
    cursor: pointer;
    transition: all 1.5s;
    position: fixed;
}

.connectButtonOriginal {
    border-radius: 5%;
    width: 100px;
    height: 35px;
    top: 75%;
    left: 45%;
}

.connectButtonSide {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    top: 90%;
    left: 95%;
}

.connectButton:hover {
    border-radius: 10%;
    transform: translateY(-20%);
    box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db, 0 16px 10px -3px #39a2db;
    /*box-shadow: 0 5px 1px #39a2db, 0 10px 1px #f85959;*/
}

.down {
    transform: translate(-50%, -25%);
    opacity: 0;
}

.aboutMe {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.aboutMeHeading {
    font-size: 6rem;
    margin-top: 12rem;
}

.aboutMeContent .text {
    padding-left: 2rem;
}

.aboutMeText {
    text-align: Center;
    font-size: 2rem;
    margin-top: 10px;
    transition: all 1s;
}

.pic {
    width: 518px;
}

.skills {
    display: inline-block;
    width: 100vw;
    min-height: 100vh;
}

.skillHeading {
    font-size: 6rem;
    position: relative;
    height: 15%;
    width: fit-content;
    margin: 0 auto;
    transform: translateY(-100%) scale(0.7);
    transition: all 1s;
    opacity: 0;
}

.skillContent {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillItem {
    width: fit-content;
    height: fit-content;
    margin: 3%;
}

.skillImage {
    width: 8vw;
    height: 12vh;
    transform: scale(.5) rotate(300deg);
    transition: all 1s;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 0 10px 10px grey;
}

.skillName {
    text-align: center;
    font-size: 2rem;
    opacity: 0;
    transition: all 2s;
}

.skillText {
    font-size: 1.5rem;
    text-align: center;
    transform: scale(0.01);
    transition: all 1.5s;
}

.project {
    display: inline-block;
    max-width: 100vw;
    min-height: 100vh;
}

.projectHeading {
    font-size: 5rem;
    transform: translatex(1%);
    transform: translatex(50%) skewX( -35deg);
    transition: all 2s;
    padding: 0 5%;
    opacity: 0;
}

.projectText {
    font-size: 2rem;
    text-align: center;
    transform: scale(.01);
    transition: all 1s;
    margin-top: 2%;
    margin-bottom: 6%;
}

.projectContent {
    width: 100vw;
    margin-top: 6%;
}

.shiftLeft:hover {
    transform: translatex(-25%);
    opacity: 1;
}

.shiftRight:hover {
    align-items: end;
    transform: translatex(25%);
    opacity: 1;
}

.align-left {
    transform: translateX(-100%);
}

.align-right {
    transform: translateX(100%)
}

.scaleDown {
    transform: scale(0);
}

.hide {
    opacity: 0
}

.transitionSpeed-05 {
    transition: all .5s;
}

.transitionSpeed-1 {
    transition: all 1s;
}

.transitionSpeed-105 {
    transition: all 1.5s;
}

.transitionSpeed-2 {
    transition: all 2s;
}

.active {
    transform: translateX(0) scale(1) rotate(0);
    opacity: 1;
}

.contact {
    width: 100vw;
    height: fit-content;
}

.contactContent {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactItem {
    width: 60px;
    height: auto;
    margin: 20px;
}

.contactHeading {
    font-size: 3rem;
    margin-top: 20px;
    margin: 10px;
    text-align: center;
}

.footer {
    display: inline-block;
    width: 100vw;
    text-align: center;
    padding: 25px 0;
}

.footer span {
    color: red;
}

.rollRight {
    transform: rotate(360deg) translateX(160%);
}

@media only screen and (max-width: 600px) {
    .aboutMeHeading {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        margin-top: 0rem;
    }
    .aboutMeText {
        text-align: Center;
        font-size: 1.4rem;
        margin-top: 34%;
    }
    .aboutMeContent .text {
        padding-left: 0;
    }
    .pic {
        display: none;
    }
    .skillImage {
        width: 17vw;
        margin: 0px 35px;
        height: 12vh;
    }
    .skillHeading {
        font-size: 4rem;
    }
    .connectButtonOriginal {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .connectButtonSide {
        left: 85%;
    }
}