body{
    margin:0;
    overflow-x: hidden;
}

.heroName{
    display: inline-block;
    width:100vw;
    height: 100vh;
}

.nameContainer{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.name{
    width: 90%;
    position: relative;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all .8s;
}

.role{
    width: 50%;
    position: relative;
    left: 50%;
    top:30%;
    transform: translate(-50%,-120%);
    transition: all 1.1s;
}
.connectButton{
    background: #0095f6;
    color:white;
    position: absolute;
    left:50%;
    bottom:15%;
    border-style: none;
    border-radius: 5%;
    width: 7%;
    height: 5%;
    transition: all 2s;
    transform: translate(-50%,-100%);
}

.down{
    transform: translate(-50%,-25%);
    opacity: 0;
}


.aboutMe{
    width: 100vw;
    height: 100vh;
    float: left;
}

.aboutMeText{
    text-align: center;
    width: 50%;
    font-size: 150%;
    float: left;
    position: relative;
    top: 30%;
    left: 10%;
    transform: translateX(-55%) scale(0.8);
    opacity: 0;
    transition: all 1s;
}

.aboutMeHeading{
    font-size: 120px;
    position: relative;
    top:30%;
    left:2%;
    transform: translateX(-35%) scale(0.8);
    opacity: 0;
    transition: all 1s;
}

.pic{
    float: right;
    float: right;
    width: 35%;
    height: auto;
    position: relative;
    transition: inherit;
    transform: inherit;
    opacity: inherit;
    opacity: inherit;  
}

.picContanier{
    transition: all 1s;
    transform: translate(24%,-22%) scale(1);
    opacity: inherit;
    opacity: 0;
    
}
.active{
    transform: translateX(0) scale(1) ;
    opacity: 1;
}

.picActive{
    transform: translate(0%,-22%) scale(1); 
    opacity: 1;
}

.skills{
    display:inline-block;
    width: 100vw;
    height: 100vh;
    background-color: pink;
}